/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
	border-top: 1px solid #E6E6E6;
	padding-top: 85px;

	.site-info {
		min-width: initial;
					
	.widget-container {
		padding-left: .625rem;
		padding-right: .625rem;
		
		h3 {
			margin-bottom: 35px;
			font-size: 1.125rem;
			text-transform: uppercase;
		}
		.categories {
			margin-bottom: 1rem;
			display: flex;
			flex-direction: column;

			a {
				@include product-button;
				&:before {
					content: "";
					background-repeat: no-repeat;
					background-size: 100%;
					width: 30px;
					height: 23px;
					top: 50%;
					transform: translateY(-50%);
					left: 15px;
					position: absolute;
				}
			}
			.claimsure {
				&:before {
					background-image: url(../../images/icon-claimsure.png);
				}
			}
			.billsure {
				&:before {
					background-image: url(../../images/icon-billsure.png);
				}
			}
			.hospitals {
				&:before {
					background-image: url(../../images/icon-claimsure.png);
				}
			}
			.consulting {
				&:before {
					background-image: url(../../images/icon-claimsure-services.png);
				}
			}
			.button {
				padding: 1em 1em 1em 3em;
				min-width: 235px;
				cursor: pointer;
				vertical-align: middle;
			}
		}
		.follow-us {
			font-size: 1.1em;
			font-weight: 500;
			margin-bottom: 4rem;

			a {
				display: inline-block;
				vertical-align: top;
				margin-top: -12px;
				margin-left: 5px;
				font-size: 1.8em;

				i {
					color: #3fcfcc;
				}
			}
		}	
	}
		.textwidget {
			.contact-informations>div {
				font-size: 1.1em;
				padding-left: 2rem;
				position: relative;
				margin-bottom: 15px;
				overflow-wrap: break-word;
				color: #ADB9C6;

				i.fas, i.far {
					position: absolute;
					top: 3px;
					left: 0;
					font-size: 0.9em;
					color: #40CDFD;
				}
			a {
				color: #ADB9C6;
				}
			}	
			.get-in-touch {
				@include blue-button 
			}
		}
		#custom_html-5 {
			margin: 0 .625rem 4rem .625rem;;
			padding: 4rem 0;
			color: white;
			background-color: #447cab;
			background-size: cover;
			background-position: center;
			border-radius: 6px;
			text-align: center;
			h3 {
				color: #fff;
				margin-bottom: 2rem;
			}
			.request-demo {
				.button {
					@include call-button;
				}
				a {
					color: #fff;
					min-width: 0;

					.fa-arrow-right {
						display: none;
					}
				}
			}
		}
		.p-footer-copyright {
			margin-top: 40px;
			padding: 2rem 0 1rem 0;
			margin: 0 auto;
			font-size: 0.95em;
			position: relative;
			background-color: #3fcfcc;

			.row {
				display: flex;
				flex-flow: row wrap;
				margin-left: auto;
				margin-right: auto;
				padding: 0 2.5rem;
				max-width: 75rem;

				.large-6 {
					margin-bottom: 10px;
					text-align: center!important;
					
					span, a {
						color: #fff;
					}
				}
				.links {
					a {
						width: 100%;
						display: inline-block;
						opacity: 0.8;
					}
				}
			}
		}			
	}
}

