/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

  
  /* Burger */

	.burger {
		@include desktop {
			display: none;
		}
		span {
			width: 25px;
			display: block;
			position: absolute;
			top: 64px;
			right: 28px;
			height: 3px;
			background: #fff;
			border-radius: 15px;
			opacity: 0.7;

			&::after, &::before {
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #fff;
				content: "";
				border-radius: 5px;
			}
			&::before {
				top: -8px;
			}
			&::after {
				bottom: -8px;
			}
		}
	}

 
.site-header {
	position: absolute;
	z-index: 999;
	width: 100%;
	@include desktop {
		max-width: 1200px;
	}

	.nav-menu {
		@include desktop {
			display: flex;
		}
		.main-logo {
			max-width: 180px;
			margin-left: 1.5rem;
			margin-top: 2rem;
			@include desktop {
				margin-left: 5.5rem;
			}
		}
		.menu-list {
			
			.menu-menu-1-container {
				ul#primary-menu {
					display: none;
					@include desktop {
						display: flex;
						list-style: none;
						margin: 0;
						width: auto;
						margin-top: 10px;
					}
					
					&>li{
						margin: 0;
					}
					li {
						padding: 10px;

						a {
							color: #fff;
							transition: color .2s;
							opacity: 0.7;
							margin-left: 30px;
							margin-right: 0;
							text-transform: uppercase;
							letter-spacing: 1px;
							font-weight: 400;
							font-size: 1.1em;
						}
					}
				}
			}
		}
	}
	.top-nav {
		position: fixed;
		width: 100%;
		height: 80px;
		background: #fff;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14),0px 0px 5px rgba(0, 0, 0, 0.14);
	}
}



.p-header {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
	z-index: 4;

	.blue-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #447cab;
		opacity: 0.9;
		z-index: -1;
	}
	.background-logo {
		position: absolute;
		bottom: 0;
		right: -475px;
		width: 1050px;
		height: 390px;
		background: url(../../images/logo-overlay-header.png) no-repeat;
		background-position: top;
		background-size: 1050px auto;
		opacity: 0.04;
		z-index: 2;
	}
	.p-header-content {
		text-align: center;
		color: white;

		p {
			font-size: 1.4rem;
			max-width: 580px;
			font-weight: lighter;
			padding: 0 2rem 5rem 2rem;
			margin: 0 auto;
		}

		h1 {
			font-size: 1.5rem;
			font-weight: 600;
			padding: 9rem 1rem 0 1rem;
			@include tablet {
				font-size: 2.625rem;
			}
			@include desktop {
				font-size: 3.25rem;
			}
		}
	}

	.alignment {
		align-items: center;
	}
}	