/*--------------------------------------------------------------
# Background
--------------------------------------------------------------*/

.p-header {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
	z-index: 4;

	.blue-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #447cab;
		opacity: 0.9;
		z-index: -1;
	}

	.background-logo {
		position: absolute;
		bottom: 0;
		right: -475px;
		width: 1050px;
		height: 390px;
		background: url(../../images/logo-overlay-header.png) no-repeat;
		background-position: top;
		background-size: 1050px auto;
		opacity: 0.04;
		z-index: 2;
	}

	.p-header-content {
		text-align: center;
		color: white;

		h1 {
			font-size: 1.5rem;
			font-weight: 600;
			padding: 9rem 1rem 0 1rem;
			@include tablet {
				font-size: 2.625rem;
			}
			@include desktop {
				font-size: 3.25rem;
			}
		}

		p {
			font-size: 1.4rem;
			max-width: 580px;
			font-weight: lighter;
			padding: 0 2rem 5rem 2rem;
			margin: 0 auto;
		}
	}
}	

/*--------------------------------------------------------------
# Main 
--------------------------------------------------------------*/

.tab {
display: block;
background-color: white;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
height: 60px;
margin: 0 auto;
position: relative;
z-index: 4;
max-width: 1258px;
width: 98%;
margin-top: -20px;
}

article {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-flow: row wrap;
	@include desktop {
		margin: auto;
	}

	.entry-content {
		max-width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
		@include tablet {
			padding-left: 1.5rem;
    		padding-right: 1.5rem;
		}
		@include desktop {
			display: flex;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-flow: row wrap;
		}
		.content-container {
			@include desktop {
				display: flex;
			}
			.content-section {
				@include desktop {
					width: 70%;
				}
				h2 {
					font-size: 1.9rem;
					font-weight: 600;
					text-align: center;
					text-transform: none;
					padding-top: 20px;
					margin-bottom: 2rem;
				}
				iframe {
					top: 0;
					left: 0;
					width: 100%;
					height: 55vh;
					padding: 0 0.5rem;
					@include tablet {
						height: 85vh;
					}
					@include desktop {
						height: 65vh;
					}
				}
				p {
					text-align: left;
				}
			}
			// Contact Us Form
			.form-container {
				@include desktop {
					width: 40%;
				}
				.wpcf7 {
					display: flex;
					padding-left: 1rem;
					padding-right: 1rem;
					margin-top: 3rem;
					@include desktop {
						margin-top: 1.5rem;
						padding-left: 5rem;
					}
			
					.wpcf7-form {
						max-width: 500px;
						margin-right: auto;
						margin-left: auto;
						@include desktop {
							
						}
			
						.title-icon {
	
						}
			
						.wpcf7-list-item {
							margin: 0;
						}
						.wpcf7-submit {
							@include blue-button;
							@include tablet {
								&:hover {
									background-color: #31c4c1;
								}
							}
							@include desktop {
								&:hover {
									background-color: #31c4c1;
								}
							}
						}
			
						label {
							display: block;
							font-size: .875rem;
							font-weight: 300;
							line-height: 1.8;
							color: #0a0a0a;
							text-align: left;
			
							.acceptance {
								width: 5px;
								height: 12px;
								margin-right: 0.5rem;
								
							}
						}
			
						input, textarea {
							color: #666;
							border: 1px solid #e6e6e6;
							border-radius: 0.5rem;
							width: 100%;
							height: 50px;
							padding: 1rem;
							box-shadow: none;
							outline: none;
						}
						textarea {
							height: 140px;
						}
						.privacy {
							display: block;
							text-align: left;
							font-size: .875rem;
							font-weight: 300;
							line-height: 1.8;
							color: #0a0a0a;
						}
					}
					.title-icon {
						display: flex;
			
						h3 {
							font-size: 1.125rem;
							text-transform: uppercase;
							text-align: left;
							font-weight: 600;
							@include tablet {
								font-size: 1.4rem;
							}
							@include desktop {
								font-size: 1.5625rem;
							}
						}
					.fa-envelope {
						color: #40CDFD;
						margin-right: 8px;
						font-size: 1.2rem;
						}	
					}
				}
			}
		}
	}
}
		


