/*--------------------------------------------------------------
# Main 
--------------------------------------------------------------*/

.tab {
display: block;
background-color: white;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
height: 60px;
margin: 0 auto;
position: relative;
z-index: 4;
width: 98%;
margin-top: -20px;
}

article {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-flow: row wrap;

	.entry-content {
		max-width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;

		h2 {
			font-size: 1.9rem;
			font-weight: 600;
			text-align: center;
			text-transform: none;
			padding-top: 20px;
			margin-bottom: 2rem;
		}
		iframe {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0 0.5rem;
		}
		p {
			text-align: left;
		}
	}
	// Contact Us Form
	.wpcf7 {
		display: flex;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-top: 3rem;

		.wpcf7-form {
			max-width: 500px;
			margin-right: auto;
			margin-left: auto;

			.wpcf7-list-item {
				margin: 0;
			}
			.wpcf7-submit {
				@include blue-button
			}

			label {
				display: block;
				font-size: .875rem;
				font-weight: 300;
				line-height: 1.8;
				color: #0a0a0a;

				.acceptance {
					width: 5px;
					height: 5px;
				}
			}

			input, textarea {
				color: #666;
				border: 1px solid #ccc;
				border-radius: 0.5rem;
				width: 100%;
				height: 50px;
				padding: 1rem;
				box-shadow: none;
				outline: none;
			}
			textarea {
				height: 140px;
			}
			.privacy {
				display: block;
				text-align: left;
				font-size: .875rem;
				font-weight: 300;
				line-height: 1.8;
				color: #0a0a0a;
			}
		}
		.title-icon {
			display: flex;

			h3 {
				font-size: 1.125rem;
				text-transform: uppercase;
				text-align: left;
			}
		.fa-envelope {
			color: #40CDFD;
			margin-right: 8px;
			font-size: 1.2rem;
			}	
		}
	}
}


