h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h2, h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #4D4E4C;
	text-rendering: optimizeLegibility;
	margin-top: 0;
	margin-bottom: .5rem;
	line-height: 1.4;
}
h3 {
	font-weight: 600;
	font-style: normal;
	color: #4D4E4C;
}